<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:dist="http://schemas.android.com/apk/distribution"
          package="com.danieloliveira138.cinesky">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <dist:module
            dist:instant="true"/>

    <application android:allowBackup="true"
                 android:name="com.danieloliveira138.cinesky.MyApplication"
                 android:label="@string/app_name"
                 android:icon="@drawable/logo_sky"
                 android:roundIcon="@drawable/logo_sky"
                 android:supportsRtl="true"
                 android:theme="@style/AppTheme">

        <activity android:name=".ui.splash_screen.SplashActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <activity android:name=".ui.main_screen.MainActivity"
                  android:theme="@style/NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>

        </activity>

        <activity android:name=".ui.detail_screen.DetailActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>

        </activity>

    </application>

</manifest>
